.header{
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
    background-color: #DAA520;
    color: black;
    height: 5.5vw;
    min-height: 90px;
    max-height: 120px;
    display: flex;
    width: 100vw;
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 2px;
}

.leftSideContainer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10vw;
}

.hamburger{
    display: none;
}

.logoContainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    cursor: pointer;
    transform: scale(.7);
}

.rightSideContainer{
    width: 50%;
    padding-right: 10vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rightSideContainer ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: calc(8px + 1vw);
}

.rightSideContainer li{
    cursor: pointer;
}

@media (max-width: 40rem) {
    .hamburger{
        display: block;
    }

    .leftSideContainer{
        width: 100vw;
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
    }

    .logo{
        transform: scale(0.6);
    }

    .rightSideContainer{
        display: none;
    }

    .mobileView{
        background-color: #DAA520;
        height: 100vh;
        width: 49vw;
        position: absolute;
        animation: pulse 0.35s ease-in;
    }

    @keyframes pulse {
        0% {
            left: -100%;
        }
        100% {
            left: 0;
        }
    }

    .mobileView ul{
        margin-top: 10vh;
        margin-left: 2px;
    }

    .mobileView li{
        margin-bottom: 20px;
        text-align: center;
        transition: all 1s;
    }
}